.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f5f5f5; /* Adjust as needed */
  }
  
  .header-name {
    font-size: 1.5rem; /* Adjust as needed */
    margin-right: 1rem; /* Adjust as needed */
    font-weight: bold;
  }
  
  .audio-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .audio-icon-playing,
  .audio-icon-paused {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ccc; /* Adjust as needed */
    border-radius: 50%;
  }
  
  .audio-icon-playing {
    background-color: #007bff; /* Green for playing */
  }
  
  .audio-icon-paused {
    background-color: #dc3545; /* Red for paused */
  }
  